# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/
.build/
.dist/
.python-version
.env
.venv
venv/

# Flask
instance/
*.db

# Caches & logs
*.log
.cache/
pytest_cache/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Node (future)
node_modules/

# Project virtual env inside app
mywebapp/venv/
